<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSMicrophoneInjectionUsageDescription</key>
	<string>Talkie ajoute sa voix de synthèse à vos appels pour vous aider à communiquer pendant un appel.</string>
</dict>
</plist>
